{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Doctor Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}     
                {{ field }}
                {% if field.help_text %}
                    <span class="help-text hidden" id="help-text-{{ field.id_for_label }}">
                        {{ field.help_text }}
                    </span>
                {% endif %}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
        {% endfor %}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register_form.css' %}">
{% endblock  %}
{% endblock %}
