{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo -->
        {% comment %} <a class="navbar-brand" href="{% url 'home_patient' %}">
            <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
            Healthcare Platform
        </a> {% endcomment %}
        {% if user.is_authenticated %}
            {% if user.user_type == 'doctor' %}
                <a class="navbar-brand" href="{% url 'doctor_dashboard' %}">
                    <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
                    Healthcare Platform
                </a>
            {% else %}
                <a class="navbar-brand" href="{% url 'patient_dashboard' %}">
                    <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
                    Healthcare Platform
                </a>
            {% endif %}
        {% endif %}
        {% if user_role == 'patient' %}
        <a class="navbar-brand" href="{% url 'home_patient' %}">
                    <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
                    Healthcare Platform
                </a>
        {% else %}
         <a class="navbar-brand" href="{% url 'home_doctor' %}">
                    <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
                    Healthcare Platform
                </a>
        {% endif %}

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {% include "home/partials/navbar_authenticated.html" %}
                {% else %}
                    {% include "home/partials/navbar_non_authenticated.html" %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<!-- Include Login Modal -->
{% include 'account/auth/modal/login_modal.html' %} 

 {% comment %} {% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo -->
        {% if user.is_authenticated %}
            {% if user.user_type == 'doctor' %}
                <a class="navbar-brand" href="{% url 'home_doctor' %}">
                    <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
                    Healthcare Platform
                </a>
            {% else %}
                <a class="navbar-brand" href="{% url 'home_patient' %}">
                    <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
                    Healthcare Platform
                </a>
            {% endif %}
        {% else %}
            {% if user_role == 'patient' %}
            
            <a class="navbar-brand" href="{% url 'home_patient' %}">
                <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
                Healthcare Platform
            </a>
            {% elif user_role == 'doctor' %}
            <a class="navbar-brand" href="{% url 'home_doctor' %}">
                <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
                Healthcare Platform
            </a>
            {% else %}
            <a class="navbar-brand" href="{% url 'home_patient' %}">
                <img src="{% static 'images/logo/ODAS_Logo.png' %}" alt="Logo" style="height: 30px; margin-right: 8px;">
                Healthcare Platform
            </a>
            {% endif %}
        {% endif %}

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {% if user.user_type == 'doctor' %}
                        <!-- Doctor Navigation -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'doctor_dashboard' %}">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "appointment" %}">Appointments</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'doctor-profile' %}">Profile</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'article_list' %}">My Articles</a>
                            <a class="btn btn-primary btn-sm ms-2" href="{% url 'article_create' %}">Create Blog</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% elif user.user_type == 'patient' %}
                        <!-- Patient Navigation -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'patient_dashboard' %}">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "appointment" %}">Appointments</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'patient_profile' %}">Profile</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'article_list' %}">Blog</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}



                 {% else %}
                 {% if user_role == patient %}
                 <!-- For Non-Authenticated Users -->
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'register_patient' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'article_list' %}">Blog</a>
                    </li>
                    
                   
                   
                    <!-- Modal Trigger for Login -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" data-login-url="{% url 'login' %}">
                        Login
                    </button>
                     <!-- Ask if user is a doctor or patient -->
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'home_doctor' %}">Are you a Doctor?</a>
                    </li>
                {% elif  user_role == 'doctor'%}
                    <!-- For Non-Authenticated Users -->
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'register_doctor' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'article_list' %}">Blog</a>
                    </li>
                    
                   
                   
                    <!-- Modal Trigger for Login -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" data-login-url="{% url 'login' %}">
                        Login
                    </button>
                      <!-- Ask if user is a doctor or patient -->
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'home_patient' %}">Are you a Patient?</a>
                    </li>
                {% else %}
                <!-- For Non-Authenticated Users -->
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'register_patient' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'article_list' %}">Blog</a>
                    </li>
                    
                    
                    <!-- Modal Trigger for Login -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" data-login-url="{% url 'login' %}">
                        Login
                    </button>
                    <!-- Ask if user is a doctor or patient -->
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'home_doctor' %}">Are you a Doctor?</a>
                    </li>
                   
                    
                 {% endif %}
                    
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Include Login Modal -->
{% include 'account/auth/modal/login_modal.html' %}
 {% endcomment %}
